[submodule "flask-video-streaming"]
	path = flask-video-streaming
	url = https://github.com/miguelgrinberg/flask-video-streaming
[submodule "uWebSockets"]
	path = uWebSockets
	url = https://github.com/stereoboy/uWebSockets
[submodule "beast"]
	path = beast
	url = https://github.com/boostorg/beast.git
